.hidden {
  visibility: hidden
}

.module_card {
  width: 15rem;
  background-color: #343a40;
}

.module_card:hover {
  background-color: #17a3b9;
}

/*Conversion from hexcodes to filter values can be found here: https://codepen.io/sosuke/pen/Pjoqqp */
/*Currently, this is using the filter value for hexcode #cccccc*/
.filter-fill-svg {
  filter: invert(86%) sepia(0%) saturate(0%) hue-rotate(199deg) brightness(91%) contrast(82%);
}

.filter-fill-svg-link {
  filter: invert(70%) sepia(38%) saturate(6903%) hue-rotate(148deg) brightness(88%) contrast(82%);
}

.collapsed > .when-open,
.not-collapsed > .when-closed {
  display: none;
}

.report #tags-with-dropdown, 
.report .b-form-tags{
  background-color: transparent ;
  padding:0rem !important;
  border: 0px;
}

input.checkbox-med {
  transform: scale(1.5);
  margin-left:10px
}

.form-control-plaintext {
  color: #cccccc;
}

a:hover,
a:active,
a:link,
a:visited
 {
  text-decoration: underline;
  color: #17a3b9;
}
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid gray;
  -webkit-text-fill-color: #cccccc;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}
/*file upload*/
.custom-file-label {
  background-color: #000;
  color:#d3d3d3;
  border: 1px solid #6c757d !important;
}

.custom-file-label::after {
  background-color: #383d41;
  color:#d3d3d3;
}

.progress {
  background-color:#383d41
}

/*tags, spinners, date input elements*/
.form-control.focus {
  background-color:#191d21 !important;
}