.hidden {
  visibility: hidden
}

.module_card {
  width: 15rem;
  background-color: #343a40;
}

.module_card:hover {
  background-color: #17a3b9;
}

.collapsed > .when-open,
.not-collapsed > .when-closed {
  display: none;
}

.report #tags-with-dropdown, 
.report .b-form-tags{
  background-color: transparent ;
  padding:0rem !important;
  border: 0px;
}

input.checkbox-med {
  transform: scale(1.5);
  margin-left:10px
}

.form-control-plaintext {
  color: #cccccc;
}

a:hover,
a:active,
a:link,
a:visited
 {
  text-decoration: underline;
  color: #17a3b9;
}
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid gray;
  -webkit-text-fill-color: #cccccc;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}
/*file upload*/
.custom-file-label {
  background-color: #000;
  color:#d3d3d3;
  border: 1px solid #6c757d;
}

.custom-file-label::after {
  background-color: #383d41;
  color:#d3d3d3;
}

.progress {
  background-color:#383d41
}

/*tags, spinners, date input elements*/
.form-control.focus {
  background-color:#191d21 !important;
}

/*Conversion from hexcodes to filter values can be found here: https://codepen.io/sosuke/pen/Pjoqqp */
/*Currently, this is using the filter value for hexcode #cccccc*/
.filter-fill-svg {
  filter: invert(86%) sepia(0%) saturate(0%) hue-rotate(199deg) brightness(91%) contrast(82%);
}

.filter-fill-svg-link {
  filter: invert(70%) sepia(38%) saturate(6903%) hue-rotate(148deg) brightness(88%) contrast(82%);
}

.sidenav {
  height: 100%;
  width: 0px;
  min-width: 0px;
  max-width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #343a40;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.container-fluid {
  margin-left: 0;
  transition: 0.5s;
}

/* .sidenav .button {
  appearance: auto;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  align-items: flex-start;
  margin: 0em;
  -webkit-appearance: button;
} */

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  /* color: #818181; */
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.dropdown-btn a {
  color: #f1f1f1;

}

.dropdown-btn a:hover {
  color: #17a3b9;
}

.sidenav .closebtn {
  position: absolute;
  float: left;
  top: 0;
  /* left:100px; */
  font-size: 36px;
}

.dropdown-container {
  padding-left: 4px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: left;
  padding-right: 8px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}