.hidden {
  visibility: hidden
}

.module_card {
  width: 15rem;
  background-color: #e9ecef;
}

.module_card:hover {
  box-shadow:0 0 0 .2rem rgba(0,123,255,.25);
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #fff8bb;
}
