
fieldset {
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid black;
}

fieldset.infra_api_gateway {
    background-color: #479EFF;
}

fieldset.infra_lambda {
    background-color: #DAF7A6;
}

fieldset.infra_ddb {
    background-color: #FF5733;
}

fieldset.infra_sqs {
    background-color: #FFC300;
}

fieldset.infra_s3 {
    background-color: #bf86ff;
}

fieldset.infra_cf {
    background-color: #61E5FF;
}

.cloud_resources_box {
    height: 12vh;
    overflow-y: none;
    margin-bottom: 20px;
    padding:10px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

.message_box {
    height: 110px;
    overflow-y: none;
    padding:10px;
    font-size: 14px;
    background-color: #efefef;
    border: 1px solid #dddddd;
    border-radius: 4px;
}
