#banner_subtext {
    font-size: 14px;
}

fieldset {
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid black;
}

.message_box {
    height: 110px;
    overflow-y: none;
    padding:10px;
    font-size: 14px;
    background-color: #43474b;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

.custom-file-label {
  background-color: #000;
  color:#d3d3d3;
  border: 1px solid #6c757d !important;
}

.custom-file-label::after {
  background-color: #383d41;
  color:#d3d3d3;
}

