#banner_subtext {
    font-size: 14px;
}

fieldset {
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid black;
}

.message_box {
    height: 110px;
    overflow-y: none;
    padding:10px;
    font-size: 14px;
    background-color: #efefef;
    border: 1px solid #dddddd;
    border-radius: 4px;
}
